body {
    /*background: #573824 url(./bg-image.png) no-repeat center/cover;*/
    background-color: #573824;
    background-image: url(../assets/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    margin: 1.5rem;
    border-radius: 1rem;
}

#page {
    background-color: #F0E8C2;
    max-width: 50rem;
    margin: 3.375rem auto;
    border-radius: 1.5rem;
}

main {
    padding: 0px 1.5rem 1.5rem;
}

#page section {
    padding: 0px 1.5rem;
}

#page section h1 {
    font-family: "Alice", serif;
    margin-bottom: 0.75rem;
    font-size: 2.5rem;
}

#page section h2 {
    font-family: "Alice", serif;
    font-size: 1.5rem;
    color: #291B1A;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
}

#page section p {
    font-family: "Alice", serif;
    color: #573A37;
    line-height: 150%;
    font-size: 1rem;
}

#about p {
    margin-top: 0.75rem;
    font-family: "Alice", serif;
    color: #573A37;
    line-height: 150%;
}

#ingredients ul {
    list-style-position: inside;
}

#ingredients ul li {
    font-family: "Alice", serif;
    color: #573A37;
    line-height: 150%;
}

#preparation p {
    /* Efeito de pulo de dois paragrafos*/
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer {
    margin: 23px 0px 48px;
}

footer p{
    text-align: center;
    font-family: "Alice", serif;
    line-height: 150%;
    color: #F0E8C2;
}

