:root {
    /* Colors */
    --background-color: #573824;
    --surface-color: #F0E8C2;
    --text-color-primary: #291B1A;
    --text-color-secondary: #573A37;
    --text-color-on-bg: #F0E8C2;
}

* {
    margin: 0;
    padding: 0;
    line-height: 150%;
    font-family: "Alice", serif;
    color: var(--text-color-secondary);
    font-weight: normal;
}

body {
    /*background: #573824 url(./bg-image.png) no-repeat center/cover;*/
    background-color: #573824;
    background-image: url(../assets/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#page {
    box-sizing: border-box;
    background-color: var(--surface-color);
    max-width: 50rem;
    padding: 24px;
    margin: 3.375rem auto 0;
    border-radius: 1.5rem;
}

img {
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

main {
    padding: 0px 1.5rem 1.5rem;
}

#page section + section{
    margin-top: 1.5rem;
}

#page section h1, h2 {
    margin-bottom: 0.25rem;
    color: var(--text-color-primary);
}

#page section h1 {
    font-size: 2.5rem;
}

#page section h2 {
    font-size: 1.5rem;
}

#about p + p{
    margin-top: 0.75rem;
}

#ingredients ul {
    list-style-position: inside;
}

footer {
    margin: 23px auto 48px;
}

footer p, i{
    color: var(--text-color-on-bg);
}